.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rebeccapurple;
  height: 500px;
}
.App {
  text-align: center;
}
.app__signup {
  display: flex;
  flex-direction: column;
}
